body {
  text-align: center;
  background-color: rgba(100, 100, 255, 1);
}

.board {
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  margin: auto;
  background-color: gray;
  /* align-items: center;
  justify-content: center; */
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.witness {
  background-color: red;
}

.player {
  background-color: green;
}
